@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color:#24292e
    font-size: 1rem;          
}

.container {
    width: 250px;
    max-width: 90vw;

    margin: 60px auto 0;   /* top space + horizontal centering */

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.clock {
    font-size:50px;
}

.menuAddSub {
/*    border:1px solid grey;*/
}

.menuItem {
    cursor: pointer;
    margin-bottom: 0.75rem;
}

.menuItem:hover {
    border-bottom:1px solid lightgrey;
}

.deleteEntryBtn {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.deleteEntryBtn:hover {
    color: darkred;
}

.log {
    font-size: 5px;
}


/*
 .log {
     position:relative;
     top:50;    
 }
 
 .logItem {
     border-bottom:1px solid lightgrey;
 }
 
 table, th, td {
     text-align:left;
 }
 
 th{
     font-weight:bold;
 /\*    border-bottom:1px solid #d9d9d9;*\/
 }
 
 td{
 /\*    padding-right:200x;*\/
 /\*    border-left:1px solid  #d9d9d9; *\/
 /\*    border-bottom:1px solid #d9d9d9; *\/
 }
 */
