@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color:#24292e
}

.container {
    width:300px;
    height:200px;

    position:relative;
    left:0; top:60; right:0; bottom:0;
    
    margin:auto;
}

.clock {
    font-size:50px;
}

.menuAddSub {
/*    border:1px solid grey;*/
}

.menuItem {
    cursor:pointer;
    margin-bottom:10%;
}

.menuItem:hover {
    border-bottom:1px solid lightgrey;
}

/*
 .log {
     position:relative;
     top:50;    
 }
 
 .logItem {
     border-bottom:1px solid lightgrey;
 }
 
 table, th, td {
     text-align:left;
 }
 
 th{
     font-weight:bold;
 /\*    border-bottom:1px solid #d9d9d9;*\/
 }
 
 td{
 /\*    padding-right:200x;*\/
 /\*    border-left:1px solid  #d9d9d9; *\/
 /\*    border-bottom:1px solid #d9d9d9; *\/
 }
 */
